body, html
  width: 100%
  height: 100%
  margin: 0
  padding: 0

body
  background-color: rgba(0, 0, 0, .8)
  font-family: "Bernard MT Condensed"

p, ul, li
  padding: 0
  margin: 0

.ts_pro
  width: 100%
  height: 100%
  position: absolute
  .ts_vue
    //width: 30%
    //height: 25%
    position: absolute
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px
    background-color: rgba(255, 255, 255, .9)
    box-shadow: 1px 2px 2px 1px #cccccc
    top: 60%
    left: 50%
    transform: translate(-50%, -50%)
    padding: 10px
    box-sizing: border-box
    animation: showBox 2s linear forwards
    ._cont
      opacity: 0
      animation: slowShow 1s forwards
      animation-delay: 2s
      ._nav
        padding: 5px 10px
        font-size: 20px
        letter-spacing: .5px
        a
          margin-left: 10px
          text-decoration: none
          outline: none
          color: #000
          &.router-link-active
            border-bottom: 2px solid #346bff
          &:first-child
            margin-left: 0
          &:hover
            color: #346bff

      ._nav_content
        padding: 10px
        //background: #cccccc

._toast
  position: fixed
  max-width: 120px
  min-height: 45px
  top: 5px
  left: 0
  right: 0
  margin: 5px auto
  border-radius: 3px
  background-color: rgba(0, 0, 0, 1)
  padding: 5px 10px
  box-sizing: border-box
  color: #ffffff
  //font-weight: bold
  display: flex
  align-items: center
  justify-content: center
  animation: slowShow 3s
  ._close
    position: absolute
    top: 0
    right: 5px
    font-size: 15px
    cursor: pointer

@keyframes slowShow
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes showBox
  0%
    width: 0
    height: 0
    opacity: 0
  100%
    width: 70%
    height: 50%
    opacity: 1
