.ts_vue
  ._nav
    padding: 5px 10px
    a
      margin-left: 10px
      text-decoration: none
      outline: none
      color: #000
      &.router-link-active
        border-bottom: 2px solid #346bff
      &:first-child
        margin-left: 0
      &:hover
        color: #346bff

  ._nav_content
    padding: 10px
    //background: #cccccc